/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Navbar Styles */
.navbar {
    background-color: #FFFFFFE9;
    padding: 20px 0;
    color: #fff;
}

.navbar.text {
    text-decoration: none;
}

/* Navbar Links */
.navbar .container {
    display: flex;
    justify-content: space-between;
}

.link {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #FFFFFFE9;
    color: #000000;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.link:hover {
    background-color: #0056b3;
}

/* Content Styles */
.content {
    position: relative; /* Required for absolute positioning of background image */
    padding: 20px;
    color: #333;
    width: 100%; /* Set the width to 100% */
    height: 100vh; /* Set the height to 100vh (100% of the viewport height) */
    font-size: 24px; /* Set the font size to make content larger */
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('background.jpeg'); /* Replace 'your-image.jpg' with your image URL */
    background-size: cover;
    background-position: center;
    filter: brightness(1); /* Initial brightness */
    transition: filter 0.5s ease; /* Smooth transition for brightness change */
}

.content::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgba(85, 84, 84, 0.8) 100%); /* Gradient overlay */
}

/* Footer Styles */
.footer {
    background-color: #555454CC;
    padding: 30px 0;
    color: #fff; /* Change text color to white */
}

.footer.text {
    font-weight: bold;
}

.footer-header {
    margin: 20px;
}

.footer .container-footer {
    display: flex;
    align-items: center;
}

.footer-links {
    margin: 20px;
}
.footer-links ul {
    padding: 0;
    margin: 20px;
    display: flex;
    list-style: none;
}

.footer-links li {
    margin-right: 20px;
}

/* Footer Link Styles */
.footer .link {
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #555454CC; /* Match footer background color */
    color: #fff; /* Change text color to white */
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.footer .link:hover {
    background-color: #444; /* Darken background color on hover */
}
