/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(85, 84, 84) 100%); Adjust the gradient */

}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Navbar Styles */
.navbar {
    background-color: #FFFFFFE9;
    padding: 20px 0;
    color: #fff;
}

.navbar.text {
    text-decoration: none;
}

/* Navbar Links */
.navbar .container {
    display: flex;
    justify-content: space-between;
}

.link {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #FFFFFFE9;
    color: #000000;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.link:hover {
    background-color: #0056b3;
}

/* Content Styles */
.content {
    position: relative;
    padding: 20px;
    color: #333; 
    width: 100%; 
    min-height: calc(100vh - 150px); 
    font-size: 24px;
    z-index: 1;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('background.jpeg'); 
    background-size: cover;
    background-position: center;
    filter: brightness(1); 
    transition: filter 0.5s ease; 
    color:#000000 !important;
    z-index: 0;

}

/* .content::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} */


/* Footer Styles */
.footer {
    background-color: #555454CC;
    padding: 30px 0;
    color: #fff; 
    z-index: 500;
}

.footer.text {
    font-weight: bold;
}

.footer-header {
    margin: 20px;
}

.footer .container-footer {
    display: flex;
    align-items: center;
}

.footer-links {
    margin: 20px;
}
.footer-links ul {
    padding: 0;
    margin: 20px;
    display: flex;
    list-style: none;
}

.footer-links li {
    margin-right: 20px;
}

/* Footer Link Styles */
.footer .link {
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #555454CC; 
    color: #fff; 
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.footer .link:hover {
    background-color: #444; 
}

.block-content-list {
    position: relative;
    z-index: 1000;
    color: #000000 !important;
    background-color: #ffffff;
    width: calc(33.33% - 20px); 
    max-width: 400px; 
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin-bottom: 20px; 
    left: 50%;
    transform: translateX(-50%);
}

.block-content-profile {
    position: relative;
    z-index: 1000;
    color: #000000 !important;
    background-color: #ffffff;
    width: calc(100% - 20px); 
    max-width: 600px; 
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin-bottom: 20px; 
    left: 50%;
    transform: translateX(-50%);
}

.profile-items {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc; 
    padding-bottom: 10px; 
}

.edit-button {
    background-color: #fff;
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    color: orange;
    border-color: orange;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.edit-button:hover {
    background-color: white;
    background-color: orange;
    color: black;
}

.edit-button .fas {
    margin-right: 5px;
}

.block-content-form {
    width: 100%;
}

.block-content-form div {
    margin-bottom: 20px; /* Add margin between form fields */
}

.block-content-form input[type="text"],
.block-content-form input[type="email"],
.block-content-form input[type="password"],
.block-content-form select,
.block-content-form textarea,
.block-content-form input[type="number"] {
    width: calc(100% - 20px); /* Adjust width with margin */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px; /* Add margin between form fields */
    box-sizing: border-box; /* Ensure padding and border are included in width calculation */
}

.block-content-form button[type="submit"] {
    background-color: #007bff; /* Example button color */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.block-content-form button[type="submit"]:hover {
    background-color: #0056b3; /* Example hover color */
}

/* CALENDAR STYLING */
button {
    width: 75px;
    cursor: pointer;
    box-shadow: 0px 0px 2px gray;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
  }
  
  #header {
    padding: 10px;
    color: #d36c6c;
    font-size: 26px;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
  }
  #header button {
    background-color:#92a1d1;
  }
  #container {
        position: relative;
        z-index: 1000;
        color: #000000 !important;
        background-color: #ffffff;
        width: calc(100% - 20px); 
        max-width: 800px;
        padding: 20px;
        border-radius: 10px;
        margin-top: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
        margin-bottom: 20px; 
        left: 50%;
        transform: translateX(-50%);
  }
  
  #weekdays {
    width: 100%;
    display: flex;
    color: #247BA0;
    font-size: 18px;
  }
  #weekdays div {
    width: 100px;
    padding: 10px;
  }
  #calendar {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  .day {
    width: 100px;
    padding: 10px;
    height: 100px;
    cursor: pointer;
    box-sizing: border-box;
    background-color: white;
    margin: 5px;
    box-shadow: 0px 0px 3px #CBD4C2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .day:hover {
    background-color: #e8faed;
  }
  
  .day + #currentDay {
    background-color:#e8f4fa;
  }

  .padding {
    cursor: default !important;
    background-color: #FFFCFF !important;
    box-shadow: none !important;
  }
  #newEventModal, #deleteEventModal {
    display: none;
    z-index: 20;
    padding: 25px;
    background-color: #e8f4fa;
    box-shadow: 0px 0px 3px black;
    border-radius: 5px;
    width: 350px;
    top: 100px;
    left: calc(50% - 175px);
    position: absolute;
    font-family: sans-serif;
  }
  #eventTitleInput {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 25px;
    border-radius: 3px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 3px gray;
  }

  #deleteButton {
      background-color: #d36c6c;
    }
  #deleteButton:hover {
    background-color: #cc0000;
  }

  #editButton {
    background-color: orange;
  }
  #editButton:hover {
    background-color: #cc8400;
  }
  #saveButton, #closeButton {
    background-color: #92a1d1;
  }
  #eventText {
    font-size: 14px;
  }

  #modalBackDrop {
    display: none;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0,0,0,0.8);
  }

.product {
  margin: 5px;
  border: 2px solid;
  border-radius: 10px;
  padding: 10px;
}

.add-product-link {
  display: inline-block;
  padding: 10px 20px; /* Adjust padding as needed */
  background-color: #4CAF50; /* Green background color */
  color: white;
  text-decoration: none;
  border-radius: 5px; /* Rounded corners */
  margin:15px;
}

.add-product-link:hover {
  background-color: #45a049; /* Darker green on hover */
}

/* Style for the plus icon */
.add-product-link .icon {
  margin-right: 5px; /* Spacing between icon and text */
}

/* SVG icon size and color */
.add-product-link .icon svg {
  width: 16px;
  height: 16px;
  fill: white; /* Icon color */
}