{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href='{% static "products/css/base.css" %}' /> 

    <title>{% block title %}{% endblock %} | Kcal counting app</title>
</head>
<body>
    <nav class="navbar">
        <a href="/" class="navbar text header">Kcal counting app</a>
        <div class="navbar container">
            <a href="{% url 'create-product' %}" class="link new-item-link">New Item</a>
            <a href="#" class="link browse-link">Browse</a>
            {% if user.is_authenticated %}
                <a href="{% url 'dashboard' request.user.username %}" class="link dashboard-link">Dashboard</a> 
                <a href="{% url 'profile_view' user.username %}" class="link login-link">Profile {{ user.username }}</a>
                <a href="{% url 'logout' %}" class="link logout-link">Log out</a> 
            {% else %}
                <a href="{% url 'register' %}" class="link signup-link">Sign up</a>
                <a href="{% url 'login' %}" class="link login-link">Log in</a> 
            {% endif %}
        </div>
    </nav>
    <div class="content">
        <div class="background-image">
        
        </div>
            <!-- Your content here -->

            {% block content %}
            {% endblock %}
        
    {% if show_container %}
        <div id="container">
            {% block calendar %}
            {% endblock %}
        </div>
    {% endif %}


    </div>
    <footer class="footer">
        <div class="container container-footer">
            <h3 class="text footer-header">About</h3> 
            <p class="footer-text">
                This app will help you losing weight and gain confidence
            </p>
        </div>
        <div class="footer-links">
            <h3 class="footer-links">Menu</h3> 
            <ul>
                <li>
                    <a href="#" class="link contact-link">Contact</a>
                </li>
                <li>
                    <a href="#" class="link privacy-link">Privacy</a>
                </li>
                <li>
                    <a href="#" class="link terms-link">Terms of use</a>
                </li>
            </ul>
        </div>
    </footer>
    <script src="{% static 'products/css/base.js' %}"></script>
</body>
</html>

