
{% extends 'products/base.html' %}
{% block title %}
Welcome
{% endblock %}

{% block content %}
<div class="block-content-profile">
  {% for food_consumption in food_consumption_list %}
  <div class="product">
    <strong>Product name</strong>:{{ food_consumption.product_name }}<br>
    <strong>amount consumed</strong>:{{ food_consumption.amount_consumed }}<br>
    <strong>date consumed</strong>:{{ food_consumption.date_consumed }}<br>
    <strong>kcal consumed</strong>:{{ food_consumption.consumed_kcal }}<br><br>
    <form method="post" action="{% url 'delete-meal' username=user date=date pk=food_consumption.pk %}">
        {% csrf_token %}
        <input type="hidden" name="_method" value="DELETE">
        <button id="deleteButton" type="submit" >
            Delete
        </button>
        <a href="{% url 'update-meal' username=user date=date pk=food_consumption.pk %}">      
            <button id="editButton">
                Edit 
        </button></a>

    </form>
  </div>
  {% endfor %}
  <div>
    <a href="{% url 'search_product' username=request.user.username %}" class="add-product-link">
        <span class="icon">+</span> Add Product
    </a><br>

    {{ user }} ate {{ calories_eaten }} kcal on {{ date }}.<br>
    {{ user }} have {{ calories_left }} calories left to eat.<br>
  </div>

  </div>
{% endblock %}