{% extends 'products/base.html' %}
{% block title %}
Welcome
{% endblock %}

{% block content %}
<div class="block-content-profile">
  <h1><strong>Profile</strong>: {{ username }}</h1>
    {% for key, value in user_profile.items %}
      <ul class="profile-items"><strong>{{ key }}</strong>: {{ value }}</ul>
    {% endfor %}
    <a href="{% url 'edit_profile' username %}" class="edit-link">
      <button id="edit-Btn" class="edit-button">
          <i class="fas fa-edit"></i> Edit Profile
      </button>
  </a>
  
{% endblock %}